*,
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    height: 70rem;
    width: 55rem;
    border: 0.1rem solid black;
    border-radius: 50px 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-image: linear-gradient(plum,white);
    
    
}
h1{
    font-size: 35px;
}
h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
img{
    width: 200px;
    height: 200px;
    border: 0.3rem solid black;
    border-radius: 50px 20px;
    margin: 20px;
}
.startGame{
    padding: 15px;
}
#gameTimer{
    padding: 10px;
    background-color: cadetblue;
    font-size: 20px;
    margin: 10px;
    border: 0.1rem solid black;
    border-radius: 50px 20px;
    
}
#timer{
    padding: 10px;
    font-size: 20px;
}
#life{
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    margin: 15px;
    padding: 15px;
}
#hunger{
    padding-right: 25px;
    padding-left: 25px;
}
#sleep{
    padding-right: 25px;
}
#bored{
    padding-right: 25px;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    
}
#feed{
    background-color: cornflowerblue;
    border: 0.1rem solid black;
    border-radius: 50px 20px;
    margin-right: 15px;
}
#light{
    background-color: lightpink;
    border: 0.1rem solid black;
    border-radius: 50px 20px;
    margin-right: 15px;
}
#play{
    background-color: plum;
    border: 0.1rem solid black;
    border-radius: 50px 20px;
    margin-right: 15px;
}
