*,
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    height: 70rem;
    width: 55rem;
    border: 0.1rem solid black;
    border-radius: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(plum,white);
    
    
}
h1{
    font-size: 35px;
    position: absolute;
    top: 25px;
}
h2,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    top: 25px;
    
}
#images{
    width: 250px;
    height: 250px;
    border: 0.6rem solid black;
    border-radius: 50px 20px;

}
.child{
    width: 250px;
    height: 250px;
    align-content: center;
    border-radius: 50px 20px;
}
#lasers{
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 50px 20px;
}
#teen{
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 50px 20px;
}
#teenlaser{
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 50px 20px;
}
#dead{
    display: none;
    width: 250px;
    height: 250px;
    border-radius: 50px 20px;

}
.startGame{
    padding: 15px;
}
#gameTimer{
    padding: 10px;
    background-color: cadetblue;
    font-size: 20px;
    margin: 10px;
    border-radius: 50px;
    
}
#timer{
    padding: 10px;
    font-size: 20px;
}
#life{
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    margin: 15px;
    padding: 15px;
}
#hunger{
    padding-right: 25px;
    padding-left: 25px;
}
#sleep{
    padding-right: 25px;
}
#bored{
    padding-right: 25px;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    font-size: 35px;
    
}
#feed{
    background-color: cornflowerblue;
    border-radius: 50px;
    margin-right: 15px;
}
#light{
    background-color: lightpink;
    border-radius: 50px;
    margin-right: 15px;
}
#play{
    background-color: plum;
    border-radius: 50px;
    margin-right: 15px;
    padding: 10px;
}
/* .animateDuck{
    animation: animate 4s infinite; 
}
@keyframes animateDuck {
    0% { top: 0; }
    50% { top: 30px; left: 20px; }
    50% { top: 10px; }
    100% { top: 0; }
  } */